# 启用所有 Lombok 功能
config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true

# 配置 @Data 注解
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call

# 配置日志
lombok.log.fieldName = log
lombok.log.fieldIsStatic = true

# 配置访问级别
lombok.accessors.chain = true