# 配置Lombok生成的代码
config.stopBubbling = true

# 添加@Generated注解
lombok.addLombokGeneratedAnnotation = true

# 构造器相关配置
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value

# Builder相关配置
lombok.builder.className = {targetClassName}Builder
lombok.builder.flagUsage = error

# toString相关配置
lombok.toString.doNotUseGetters = true
lombok.toString.callSuper = call

# equals/hashCode相关配置
lombok.equalsAndHashCode.doNotUseGetters = true
lombok.equalsAndHashCode.callSuper = call

# @Data相关配置
lombok.data.flagUsage = error

# @Value相关配置
lombok.value.flagUsage = error

# @Builder相关配置
lombok.builder.flagUsage = error

# @Accessors相关配置
lombok.accessors.chain = true
lombok.accessors.fluent = false
lombok.accessors.prefix = 

# 日志相关配置
lombok.log.fieldName = log
lombok.log.fieldIsStatic = true

# 其他配置
lombok.addNullAnnotations = javax
lombok.addSuppressWarnings = true
lombok.extern.findbugs.addSuppressFBWarnings = true